{% extends 'blog/base.html' %}

    {% block sidebar %}<ul>
           <div class="sidebar">
            {% for category in categories %}
            <div class="left-align">
                <li><a href="{% url 'category_detail' category.slug %}">{{ category.title }}</a></li>
            </div>
            {% endfor %}
            </div>
            </ul>
    {% endblock %}

    {% block content %}
      <div class="left-aling">
        <h1 class="category_title">{{ category.title }}</h1>
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
               <blockquote> <div class="post-title"><h5><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h5></div>
                <p class="post-text">{{ post.text|linebreaksbr }}</p></blockquote>
            </div>
            <hr>
        {% endfor %}
      </div>
    {% endblock %}
    