h1 a{
    color:#fca205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #fca205;
}

.category_title{
    color: darkgreen;
}

.date {
    color: #309c8e;
}

.save {
    float: left;
}

.post-form textarea, .post-form input {
    width: 700px;;
    
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.col-md-8{
    width: 850px;
    float: left;
}

.sidebar {
    float: right;
    color: orangered;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 180px;
    right: 65px;
    

}

.post-form{
    float: left;
}

.sidebar a {
    
    color: #ff9400;
}

.sidebar ul li{
    list-style-type: none;
}
