body {
    padding: 0%;
}

.head {
    margin-left: 15px;
    width: 100%;
    height: 200px;
    color: black;
    background-image: url('blogheader.jpg');
    background-size: 100% auto;
}

.post-new {
    width: 30%;
    float: right;
    text-align: center;
    margin-top: 65px;
    margin-right: 80px;
}

h1 a, h4 a {
    color: white;
}

.sidebar {
    margin-top: 60px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 22pt;
    float: left;
    line-height: 35pt;
}

a{
    color: black;
    font-family: 'Lato', sans-serif;
}

.brand-logo {
    width: 70%;
    text-align: center;
    text-align-last: center;
    margin-left: 400px;;
    margin-top: 65px;
    color: white;
}

.post-text{
    font-family: 'Lato', sans-serif;
}

.buttonedit a {
    float: right;
    margin-top: -15px;
    background-color: #8d6e63;
}

.buttondelete a {
    float: right;
    margin-top: -15px;
    background-color: #8d6e63;
}

.post h3 {
    color: #4e342e;
}

.date {
    margin-top: 5px;
}

.form-title {
    color: #4e342e;
}
